# MUHAMMAD FAJRIN MIRSAD

### POSTTEST 4

#### Import Library

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

#### Import Dataset

In [2]:
df = pd.read_csv('Airlines.csv')

#### Melihat Bentuk Dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539383 entries, 0 to 539382
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           539383 non-null  int64
 1   Airline      539383 non-null  object
 2   Flight       539383 non-null  int64
 3   AirportFrom  539383 non-null  object
 4   AirportTo    539383 non-null  object
 5   DayOfWeek    539383 non-null  int64
 6   Time         539383 non-null  int64
 7   Length       539383 non-null  int64
 8   Delay        539383 non-null  int64
dtypes: int64(6), object(3)
memory usage: 37.0+ MB

#### Membagi Dataset Menjadi Training Set dan Testing Set

In [4]:
x = df.drop('Airline', axis=1)
y = df['Airline']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

#### Normalisasi Data

In [7]:
df2 = df.copy()

scaler = MinMaxScaler()
scaledData = scaler.fit_transform(df2[['Time']])
df2['Time'] = scaledData

print("Kolom Time Sebelum Dinormalisasi: ")
print(df['Time'].describe())
print('\n')
print("Kolom Time Sesudah Dinormalisasi: ")
print(df2['Time'].describe())

Kolom Time Sebelum Dinormalisasi:
count    539383.000000
mean        802.728963
std         278.045911
min          10.000000
25%         565.000000
50%         795.000000
75%        1035.000000
max        1439.000000
Name: Time, dtype: float64


Kolom Time Sesudah Dinormalisasi:
count    539383.000000
mean          0.554744
std           0.194574
min           0.000000
25%           0.388383
50%           0.549335
75%           0.717285
max           1.000000
Name: Time, dtype: float64

#### Standarisasi Data

In [8]:
df3 = df.copy()

scaler = StandardScaler()
scaledData = scaler.fit_transform(df3[['Time']])
df3['Time'] = scaledData

print("kolom Time Sebelum Di Standardisasi: ")
print(np.std(df['Time']))
print('\n')
print("Kolom Time Setelah Di Standardisasi: ")
print(np.std(df3['Time']))

kolom Time Sebelum Di Standardisasi:
278.04565307225624


Kolom Time Setelah Di Standardisasi:
1.0

#### Membuat Nilai Null

In [12]:
df4 = df.copy()

df4.loc[36000:, 'Flight'] = np.nan 

print(f"Jumlah Nilai Null Pada Attribute Flight: {df4['Flight'].isna().sum()}")

Jumlah Nilai Null Pada Attribute Flight: 503383

#### Mengganti Nilai Null

In [13]:
df4['Flight'].fillna(df4['Flight'].median(), inplace=True) 

df4.isna().sum()

id             0
Airline        0
Flight         0
AirportFrom    0
AirportTo      0
DayOfWeek      0
Time           0
Length         0
Delay          0
dtype: int64

#### Data Cleaning Pada Data Dengan Nilai Duplikat.

In [14]:
df4.drop_duplicates(inplace=True)
df4.duplicated().sum()

0

#### Mengganti Tipe Data Salah Satu Attribute Angka

In [19]:
df4['Length'] = df4['Length'].astype('float64')
print(f"Tipe Data Attribute 'Length' Yang Sebelumnya Int Telah Diubah Menjadi {df4['Length'].dtypes}")

Tipe Data Attribute 'Length' Yang Sebelumnya Int Telah Diubah Menjadi float64

#### One Hot Encoding

In [17]:
enc = pd.get_dummies(df[['AirportTo']])
df5 = df.join(enc.astype('int64'))

df5.drop('AirportTo', axis=1, inplace=True)

In [18]:
df5.head()

,id,Airline,Flight,AirportFrom,DayOfWeek,Time,Length,Delay,AirportTo_ABE,AirportTo_ABI,...,AirportTo_TXK,AirportTo_TYR,AirportTo_TYS,AirportTo_UTM,AirportTo_VLD,AirportTo_VPS,AirportTo_WRG,AirportTo_XNA,AirportTo_YAK,AirportTo_YUM
0,1,CO,269,SFO,3,15,205,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,US,1558,PHX,3,15,222,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,AA,2400,LAX,3,20,165,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,AA,2466,SFO,3,20,195,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,AS,108,ANC,3,30,202,0,0,0,...,0,0,0,0,0,0,0,0,0,0