**MUHAMMAD FAJRIN MIRSAD**

Import Pandas dan CSV

In [14]:
import pandas as pd
df = pd.read_csv("Airlines.csv")

*Bagian Menampilkan Rata-Rata, Standar Deviasi, Nilai Minimum, Nilai Maksimum, Q1, Q2, Q3, dari attribute bertipe angka*

In [3]:
df.describe()

,id,Flight,DayOfWeek,Time,Length,Delay
count,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000
mean,269692.000000,2427.928630,3.929668,802.728963,132.202007,0.445442
std,155706.604461,2067.429837,1.914664,278.045911,70.117016,0.497015
min,1.000000,1.000000,1.000000,10.000000,0.000000,0.000000
25%,134846.500000,712.000000,2.000000,565.000000,81.000000,0.000000
50%,269692.000000,1809.000000,4.000000,795.000000,115.000000,0.000000
75%,404537.500000,3745.000000,5.000000,1035.000000,162.000000,1.000000
max,539383.000000,7814.000000,7.000000,1439.000000,655.000000,1.000000

*Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka*

In [11]:
df.select_dtypes('number').head(10)

   id  Flight  DayOfWeek  Time  Length  Delay
0   1     269          3    15     205      1
1   2    1558          3    15     222      1
2   3    2400          3    20     165      1
3   4    2466          3    20     195      1
4   5     108          3    30     202      0
5   6    1094          3    30     181      1
6   7    1768          3    30     220      0
7   8    2722          3    30     228      0
8   9    2606          3    35     216      1
9  10    2538          3    40     200      1

*Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka*

**Jumlah Record**

In [31]:
len(df)

539383

**Jumlah Atribut**

In [32]:
len(df.columns)

9

**Nama Atribut**

In [33]:
list(df.columns)

['id',
 'Airline',
 'Flight',
 'AirportFrom',
 'AirportTo',
 'DayOfWeek',
 'Time',
 'Length',
 'Delay']

**Jumlah Atribut Dengan Tipe Data Angka**

In [34]:
len(df.select_dtypes(include=['int64', 'float64']).columns)

6

*Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice*

In [37]:
df.iloc[8:, 3:]

       AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
8              SFO       MSP          3    35     216      1
9              LAS       ORD          3    40     200      1
10             ANC       SEA          3    49     201      1
11             PHX       ATL          3    50     212      1
12             SLC       ATL          3    50     210      0
...            ...       ...        ...   ...     ...    ...
539378         OGG       SNA          5  1439     326      0
539379         SEA       ATL          5  1439     305      0
539380         SFO       MKE          5  1439     255      0
539381         HNL       SFO          5  1439     313      1
539382         LAX       PHL          5  1439     301      1

[539375 rows x 6 columns]

In [38]:
df.loc[8:, 'AirportFrom':]

       AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
8              SFO       MSP          3    35     216      1
9              LAS       ORD          3    40     200      1
10             ANC       SEA          3    49     201      1
11             PHX       ATL          3    50     212      1
12             SLC       ATL          3    50     210      0
...            ...       ...        ...   ...     ...    ...
539378         OGG       SNA          5  1439     326      0
539379         SEA       ATL          5  1439     305      0
539380         SFO       MKE          5  1439     255      0
539381         HNL       SFO          5  1439     313      1
539382         LAX       PHL          5  1439     301      1

[539375 rows x 6 columns]

*Menampilkan jumlah nilai dari semua attribute yang bernilai object*

In [10]:
df.select_dtypes('object').value_counts()

Airline  AirportFrom  AirportTo
HA       OGG          HNL          762
         HNL          OGG          731
WN       DAL          HOU          701
         HOU          DAL          698
OO       SAN          LAX          573
                                  ...
EV       ORD          PWM            1
         ATL          ORD            1
OH       DTW          RDU            1
EV       DTW          XNA            1
OO       MSP          CVG            1
Name: count, Length: 6836, dtype: int64